<div 
    class="container container mt-4 p-5 cover"     
    *ngIf="!mostrarEditExperience">

    <div class="row mt-1">

        <div class="col-lg-8 pt-3">
            <p class="text-center">
                {{experience.description}}
            </p>
            <p class="text-center text-muted">
                {{experience.startDate}} - {{experience.endDate}}
            </p>
        </div>
        <div class="col-lg-4">
            <img src="{{experience.logourl}}" alt="{{experience.id}}" class="rounded d-block mx-auto img-fluid logo">
        </div>

        <div
            class="col-12 text-center">
            <button class="btn"(click)="toggleMostrarEditExperience()" *ngIf="isLoggedIn$">
                <i class="bi bi-pencil-square" style="font-size:24px;"></i>
            </button>
            <button class="btn"(click)="onDeleteExperience(this.experience)" *ngIf="canDelete && isLoggedIn$">
                <i class="bi bi-trash" style="font-size:24px;"></i>
            </button>
        </div>
    </div>
</div>
<div>
    <div class="container mt-4 element" data-aos="fade-up" *ngIf="mostrarEditExperience">
        <app-edit-experience 
        
            (toggleEditExpEventEmitter)= "toggleMostrarEditExperience()"
            [experience]="experience">
        </app-edit-experience>
    </div >



