<div class="container mt-4 element" data-aos="fade-up"     *ngIf="!mostrarAddProject && !mostrarEditProject">
  <div class="card text-center mx-auto" style="max-width: 25rem;">
      <div class="card-body">
        <img src="{{project.imageProject}}" alt="logo" class="logo img-fluid rounded pb-4">
                      
        <div class="title pb-3">
          <h4>{{project.title}}</h4>
        </div>
                    
        <div class="text pb-3">
          <span>{{project.description}}</span>
        </div>
                    
        <a href="{{project.url}}" class="pb-4" target="_blank">¡Visítame!</a>
      </div>
      <div class="col-12 text-center pb-3">
        <button class="btn"  (click)="toggleMostrarAddProject()">
            <i class="bi bi-plus-square" style="font-size:24px;"></i>
        </button>
        <button class="btn" (click)="toggleMostrarEditProject()">
            <i class="bi bi-pencil-square" style="font-size:24px;"></i>
        </button>
        <button class="btn"(click)="onDeleteProject(this.project)" *ngIf="canDelete">
            <i class="bi bi-trash" style="font-size:24px;"></i>
        </button>
      </div>
    </div>
  </div>
<div class="container mt-4 element" data-aos="fade-up" *ngIf="mostrarAddProject">
    <app-add-project 
        (onAddProject)= "toggleMostrarAddProject()">
    </app-add-project>
</div >
<div class="container mt-4 element" data-aos="fade-up" *ngIf="mostrarEditProject">
  <app-edit-project 
      (toggleEditProjectEventEmitter)= "toggleMostrarEditProject()"
      [project]="project">
  </app-edit-project>
</div >