.descriptions{
    padding: 10px 50px;
}
.logo{
    width: 150px;
}
.descriptions p{
    text-align: center;
    padding: 20px;
}

.deleteButton{
    display: flex;
}

.deleteButton button{
    margin:auto;
}


