

.logos{
    display: flex;
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    border-radius: 5px;
}


.logobutton{
    margin-left: 10px;
    padding: 10px 20px;
    color:aliceblue;
}

.logobutton:hover{
    background-color: #777;
}


.editbuttons{
    display: flex;
 }
 
 .center{
     margin: auto;
 }
