<main *ngIf="!mostrarAddExp">
    <div
        class="logos">
        <button 
            *ngFor="let experience of experiences"
            class="btn logobutton"
            (click)="onSelect(experience)">{{experience.name}}
        </button>
    </div>

    <div>
        <router-outlet></router-outlet>
    </div>

    <div class="editbuttons">
        <div class="center">
            <a 
                class="btn"
                (click)="toggleMostrarAddExp()">
                <fa-icon  [icon]="faSquarePlus" class="fa-xl"></fa-icon>
            </a>
        </div>
    </div>

</main>
<app-add-experience 
    *ngIf="mostrarAddExp"
    (onaddExperience) = "addExperience($event); toggleMostrarAddExp()">

</app-add-experience>