<div
    class="mx-auto w-75"
    >
    <nav class="nav nav-tabs justify-content-center flex-column flex-sm-row pt-2 px-3">
        <a 
            *ngFor="let experience of experiences"
            class="nav-item nav-link  text-sm-center "
            routerLinkActive='active'
            [routerLinkActiveOptions]="{exact: false}"
            [routerLink]="['/portfolio/experiencia', experience.id]"
            (click)="onSelect(experience)">{{experience.name}}
        </a>
    </nav>

    <div>
        <router-outlet></router-outlet>
    </div>
</div>
