<div class="container p-4 border-top">
    <div class="row justify-content-between">
        <div class="col-6">
            <a class="navbar-brand">
                <img src="./assets/Img/B.png" width="50" height="50" class="d-inline-block align-top" alt="">
            </a>
            © 2023 Franco David Baretta
        </div>
        <div class="col-6">
            <a class="navbar-brand">
                <img src="./assets/Img/B.png" width="50" height="50" class="d-inline-block align-top" alt="">
            </a>
            © 2023 Franco David Baretta
        </div>
    </div>
</div>