<div class="container d-flex justify-content-between p-4 border-top" id="contacto">

        <div class="align-self-center text-muted">
            <a class="navbar-brand">
                <img src="./assets/Img/B.png" width="50" height="50" class="d-inline-block align-top" alt="">
            </a>
            © 2023 
        </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="a-link" href="https://github.com/FranDavB" target="_blank"><i class="bi bi-github" style="font-size:30px;"></i></a></li>
            <li class="ms-3"><a class="a-link" href="https://www.facebook.com/franco.baretta.5" target="_blank"><i class="bi bi-facebook" style="font-size:30px;"></i></a></li>
            <li class="ms-3"><a class="a-link" href="https://discordapp.com/users/133364525113147392" target="_blank" ><i class="bi bi-discord" style="font-size:30px;"></i></a></li>
            <li class="ms-3"><a class="a-link" href="mailto:francodbaretta@gmail.com?subject=Contacto Portfolio" target="_blank"><i class="bi bi-envelope" style="font-size:30px;"></i></a></li>
        </ul>


</div>
