main{
    display: flex;
    background-color: #109DFA;
    padding: 10px 30px;
    color:white;
}

div{
    margin: auto;
}

.btn-nav{
    background-color: transparent;
    border:none;
}

.dropdown-item{
    border-left: 3px solid red;
    margin-bottom: 1px;
}

ul{
    list-style-type: none;
}

li{
    float:left;
    margin-right: 10px;
}

a:link{
    color: inherit;
}

a:visited{
    color: inherit;
}