<nav class="navbar navbar-expand-sm bg-body-tertiary bg-light pt-5 pb-3 px-5">
  <div class="container-fluid border-bottom">
    <a class="navbar-brand">
      <img src="https://campusvirtual.ing.unlpam.edu.ar/pluginfile.php/37478/coursecat/description/FONDO%20JPG-%20sin%20espacios.png" class="d-inline-block align-top icon" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav text-center ms-auto">
        <li class="nav-item ">
          <a class="nav-link a-link" (click)="navegar('#acerca-de')">Acerca de mí</a>
        </li>
        <li class="nav-item">
          <a class="nav-link a-link" (click)="navegar('#formacion-academica')">Formación</a>
        </li>
        <li class="nav-item">
          <a class="nav-link a-link" (click)="navegar('#experiencia')">Experiencia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link a-link" (click)="navegar('#proyectos')">Proyectos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link a-link" (click)="navegar('#skills')">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link a-link" (click)="navegar('#contacto')">Contacto</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto text-center">
        <li class="nav-item">
            <a class="nav-link a-link" [routerLink]="['/ingresar']" data-bs-target="#myModal" data-bs-toggle="modal" *ngIf="!isLoggedIn$">
              Ingresar
            </a>
            <button class="btn" *ngIf="isLoggedIn$" (click)="logOut()">
              Cerrar sesión
            </button>
        </li>
    </ul>
    </div>
  </div>
</nav>


