<main>
    <div class="photo">
        <img src="/assets/Img/Foto.png" class="photo" alt="photo">
    </div>
    <div class="info">
        <h3>Hola! Bienvenido a mi web!</h3>
        <br>
        <p>Me llamo Franco, soy estudiante de Biología. Estudio
            el comportamiento animal y sus bases neurológicas.
            Por otro lado soy desarrollador web junior, me interesa
            el mundo de la programación. ¡Algún día fusionaré ambos
            campos en algo novedoso y conquistaré el mundo! O al menos
            lo intentaré
        </p>
        <p>
            Actualmente vivo en Córdoba, Argentina.
        </p>
    </div>
</main>