<main>
    <div class="info">
        <h4>Hola! Bienvenido a mi web!</h4>
        <p>Me llamo Franco, soy estudiante de Biología. Estudio
            el comportamiento animal y sus bases neurológicas.
            Por otro lado soy desarrollador web junior, me interesa
            el mundo de la programación. ¡Algún día fusionaré ambos
            campos en algo novedoso y trataré de conquistar el mundo!
            O al menos intentarlo.
        <p>
        </p>
    </div>
    <div class="photo">
        <img src="/assets/Img/PhotoPreview.jpg" class="photo" alt="photo">
    </div>
</main>