

.cover{
    min-height: 50vh;
}

.nav-pills .nav-link.active {
    border-radius: 0;
    color: black;
    background-color: transparent;
    cursor: pointer;
    border-bottom: 2px solid black ;
}

.nav-pills .nav-link:not(.active) {
    color:black;
    cursor: pointer;

}
