<div 
  class="mb-3 mt-3 container text-center"
  data-aos="fade-up">
    <h3>Editar resumen</h3>
</div>
<div 
  class="container p-5 form"
  data-aos="fade-up">
    <form
        (ngSubmit)="onEditAbout($event); toggleEditAbout()"
        [formGroup]="editForm">
        <div class="mb-3">
            <label for="photoURL" class="form-label">Dirección URL de la foto</label>
            <input
                formControlName="photoURL" 
                type="text" 
                class="form-control" 
                id="photoURL" 
                aria-describedby="photoURLHelp"
                placeholder="Ingrese la URL de la foto que desea subir"
                [ngClass]="{'is-invalid': PhotoUrl?.errors && PhotoUrl?.touched, 'is-valid': !PhotoUrl?.errors && PhotoUrl?.touched}">
            <div *ngIf= "PhotoUrl?.errors && PhotoUrl?.touched">
              <p *ngIf= "PhotoUrl?.hasError('required')" class="text-danger">
                Debe ingresar la URL de la foto.
              </p>
              <p *ngIf ="PhotoUrl?.hasError('minlength')" class="text-danger">
                La URL no puede contener menos de 10 caracteres
              </p>
            </div>
        </div>
        <div class="mb-3">
            <label for="namePerson" class="form-label">Nombre y apellido</label>
            <input
                formControlName="name"  
                type="text" 
                class="form-control" 
                id="namePerson" 
                aria-describedby="nameHelp"
                placeholder="Ingrese su nombre completo"
                [ngClass]="{'is-invalid': Name?.errors && Name?.touched, 'is-valid': !Name?.errors && Name?.touched}">
            <div *ngIf= "Name?.errors && Name?.touched">
              <p *ngIf= "Name?.hasError('required')" class="text-danger">
                Debe ingresar su nombre completo.
              </p>
              <p *ngIf ="Name?.hasError('minlength')" class="text-danger">
                Debe contener más de 3 caracteres.
              </p>
            </div>
        </div>
        <div class="mb-3">
            <label for="profession" class="form-label">Profesión</label>
            <input 
                formControlName="profession"  
                type="text" 
                class="form-control" 
                id="profession" 
                aria-describedby="professionHelp"
                placeholder="Ingrese su/sus profesión/profesiones separadas por una coma"
                [ngClass]="{'is-invalid': Profession?.errors && Profession?.touched, 'is-valid': !Profession?.errors && Profession?.touched}">
            <div *ngIf= "Profession?.errors && Profession?.touched">
              <p *ngIf= "Profession?.hasError('required')" class="text-danger">
                Debe ingresar su/sus profesión/profesiones
              </p>
              <p *ngIf ="Profession?.hasError('minlength')" class="text-danger">
                Su profesión debe tener más de 3 caracteres.
              </p>
            </div>
        </div>
        <div class="mb-3">
            <label for="descriptionPerson" class="form-label">Descripción</label>
            <textarea 

                rows="5" cols="33"
                formControlName="description"  
                type="text" 
                class="form-control" 
                id="profession" 
                aria-describedby="professionHelp"
                placeholder="Ingrese una descripción sobre usted. Debe tener entre 100 y 1000 caracteres."
                [ngClass]="{'is-invalid': Description?.errors && Description?.touched, 'is-valid': !Description?.errors && Description?.touched}">
            </textarea>
              <div *ngIf= "Description?.errors && Description?.touched">
                <p *ngIf= "Description?.hasError('required')" class="text-danger">
                  La descripción es requerida.
                </p>
                <p *ngIf ="Description?.errors?.['minlength'] || Description?.errors?.['maxlength'] " class="text-danger">
                  La descripción debe tener entre 100 y 1000 caracteres.
                </p>
              </div>
        </div>
        <div class="row">
            <div class="mb-3 col-6">
                <label for="city" class="form-label">Ciudad</label>
                <input 
                    formControlName="city"  
                    type="text" 
                    class="form-control" 
                    id="city" 
                    aria-describedby="cityHelp"
                    placeholder="Ingrese la localidad donde recide. Ej: Buenos Aires"
                    [ngClass]="{'is-invalid': City?.errors && City?.touched, 'is-valid': !City?.errors && City?.touched}">
                    <div *ngIf= "City?.errors && City?.touched">
                      <p *ngIf= "City?.hasError('required')" class="text-danger">
                        Debe ingresar el país donde actualmente reside.
                      </p>
                      <p *ngIf ="City?.hasError('minlength')" class="text-danger">
                        El nombre del país no puede tener menos de 3 caracteres.
                      </p>
                    </div>
            </div>
            <div class="mb-3 col-6">
                <label for="country" class="form-label">País</label>
                <input 
                    formControlName="country"  
                    type="text" 
                    class="form-control" 
                    id="country" 
                    aria-describedby="countryHelp"
                    placeholder="País donde actualmente recide. Ej: Argentina"
                    [ngClass]="{'is-invalid': Country?.errors && Country?.touched, 'is-valid': !Country?.errors && Country?.touched}">
                    <div *ngIf= "Country?.errors && Country?.touched">
                      <p *ngIf= "Country?.hasError('required')" class="text-danger">
                        Debe ingresar el país donde actualmente reside.
                      </p>
                      <p *ngIf ="Country?.hasError('minlength')" class="text-danger">
                        El nombre del país no puede tener menos de 3 caracteres.
                      </p>
                    </div>
            </div>
        </div>
        <div class="text-center" >
            <button type="submit" class="btn btn-primary mt-4" [disabled]="!editForm.valid">Guardar cambios</button>
        </div>
    </form>
</div>