<div 
  class="mb-3 mt-3 container text-center"
  data-aos="fade-up">
    <h3>Agregar formación</h3>
</div>
<div 
  class="container form"
  data-aos="fade-up">
    <form
        class="mx-auto"
        style="max-width: 500px;"
        (ngSubmit)="addFormation($event); toggleAddFormation()"
        [formGroup]="addForm">
        <div class="mb-3">
            <label for="titleFormation" class="form-label">Título adquirido</label>
            <input
                formControlName="title"  
                type="text" 
                class="form-control" 
                id="titleFormation" 
                aria-describedby="nameHelp"
                placeholder="Ingrese el nombre del título"
                [ngClass]="{'is-invalid': Title?.errors && Title?.touched, 'is-valid': !Title?.errors && Title?.touched}">
            <div *ngIf= "Title?.errors && Title?.touched">
              <p *ngIf= "Title?.hasError('required')" class="text-danger">
                Debe ingresar el título logrado.
              </p>
            </div>
        </div>
        <div class="mb-3">
            <label for="descriptionTitle" class="form-label">Descripción de sus conocimientos</label>
            <textarea 
                rows="5" cols="33"
                formControlName="description"  
                type="text" 
                class="form-control" 
                id="descriptionTitle" 
                aria-describedby="professionHelp"
                placeholder="Ingrese una descripción sobre lo aprendido al cursar dicho título."
                [ngClass]="{'is-invalid': Description?.errors && Description?.touched, 'is-valid': !Description?.errors && Description?.touched}">
            </textarea>
            <div *ngIf= "Description?.errors && Description?.touched">
                <p *ngIf= "Description?.hasError('required')" class="text-danger">
                  La descripción es requerida.
                </p>
                <p *ngIf ="Description?.errors?.['maxlength'] " class="text-danger">
                  La descripción debe tener hasta 500 caracteres.
                </p>
            </div>
        </div>
        <div class="mb-3">
            <label for="logoAcademy" class="form-label">URL del logo institucional</label>
            <input
                formControlName="logoAcademy" 
                type="text" 
                class="form-control" 
                id="logoAcademy" 
                aria-describedby="photoURLHelp"
                placeholder="Ingrese la URL del logo de la academia que certificó el título"
                [ngClass]="{'is-invalid': LogoAcademy?.errors && LogoAcademy?.touched, 'is-valid': !LogoAcademy?.errors && LogoAcademy?.touched}">
            <div *ngIf= "LogoAcademy?.errors && LogoAcademy?.touched">
              <p *ngIf= "LogoAcademy?.hasError('required')" class="text-danger">
                Debe ingresar la URL del logo institucional.
              </p>
              <p *ngIf ="LogoAcademy?.errors?.['maxlength'] " class="text-danger">
                La URL debe contener hasta 1000 caracteres
              </p>
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-6">
                <label for="startDate" class="form-label">Año de inicio del curso</label>
                <input 
                    formControlName="startDate"  
                    type="text" 
                    class="form-control" 
                    id="startDate" 
                    aria-describedby="startDateHelp"
                    placeholder="Ingrese la fecha de inicio de cursada."
                    [ngClass]="{'is-invalid': StartDate?.errors && StartDate?.touched, 'is-valid': !StartDate?.errors && StartDate?.touched}">
                    <div *ngIf= "StartDate?.errors && StartDate?.touched">
                      <p *ngIf= "StartDate?.hasError('required')" class="text-danger">
                        Debe ingresar la fecha de inicio de la cursada.
                      </p>
                      <p *ngIf ="StartDate?.hasError('pattern') " class="text-danger">
                        El formato de la fecha debe ser "Mes año" o "Actualidad"
                      </p>
                    </div>
            </div>
            <div class="mb-3 col-6">
              <label for="endDate" class="form-label">Año de finalización del curso</label>
              <input 
                  formControlName="endDate"  
                  type="text" 
                  class="form-control" 
                  id="endDate" 
                  aria-describedby="endDateHelp"
                  placeholder="Ingrese la fecha de finalización de la cursada."
                  [ngClass]="{'is-invalid': EndDate?.errors && EndDate?.touched, 'is-valid': !EndDate?.errors && EndDate?.touched}">
                  <div *ngIf= "EndDate?.errors && EndDate?.touched">
                    <p *ngIf= "EndDate?.hasError('required')" class="text-danger">
                      Debe ingresar la fecha de finalización del curso
                    </p>
                    <p *ngIf ="EndDate?.hasError('pattern') " class="text-danger">
                      El formato de la fecha debe ser "Mes Año" o "Actualidad"
                    </p>
                  </div>
            </div>
        </div>
        <div class="text-center  mt-4">
          <button type="button" class="btn btn-dark mx-3" (click)="toggleAddFormation()">Volver</button>
          <button type="submit" class="btn btn-dark" [disabled]="!addForm.valid">Agregar formación</button>
        </div>
    </form>
</div>