<div class="container p-5">  
  <form
    data-aos="fade-up"
    class="mx-auto" 
    style="max-width: 300px;"
    [formGroup]="formLogin"
    (ngSubmit)="onLogin($event)"
    >
      <div class="mb-3 mx-auto">
        <img src="./assets/Img/B.png" width="100" height="100" class="mx-auto d-block" alt="">
      </div>
      <div class="mb-3 text-center">
          <h3>Iniciar sesión</h3>
      </div>
      <div class="form-group mb-3">
        <label for="exampleInputEmail1">Email</label>
        <input 
          formControlName="email"
          type="email" 
          class="form-control" 
          id="exampleInputEmail1" 
          aria-describedby="emailHelp" 
          placeholder="Enter email"
          [ngClass]="{'is-invalid': Email?.errors && Email?.touched, 'is-valid': !Email?.errors && Email?.touched}">
        <div *ngIf= "Email?.errors && Email?.touched">
          <p *ngIf= "Email?.hasError('required')" class="text-danger">
            El email es requerido.
          </p>
          <p *ngIf ="Email?.hasError('email')" class="text-danger">
            El formato del email debe ser válido.
          </p>
        </div>
      </div>
      <div class="form-group mb-3">
        <label for="exampleInputPassword1">Contraseña</label>
        <input 
          formControlName="password"
          type="password" 
          class="form-control" 
          id="exampleInputPassword1" 
          placeholder="Password"
          [ngClass]="{'is-invalid': Password?.errors && Password?.touched, 'is-valid': !Password?.errors && Password?.touched}">
          <div *ngIf= "Password?.errors && Password?.touched">
            <p *ngIf= "Password?.hasError('required')" class="text-danger">
              La contraseña es requerida.
            </p>
            <p *ngIf ="Password?.errors?.['minlength']" class="text-danger">
              La contraseña debe tener un formato de 5 caracteres mínimo.
            </p>
          </div>
      </div>
      <div class="mb-3 text-center">
        <button type="submit" class="btn btn-dark mb-3" [disabled]="!formLogin.valid">Ingresar</button>
      </div>
      <div 
        class="mb-3" 
        id="emailHelp" 
        class="text-muted">
          <p class="text-center">
            ©2023
          </p>
      </div>

  </form>
</div>