<div class="container p-4 border-bottom">
    <h2 class="text-center " id="formacion-academica">
        Formación académica
    </h2>
</div>
<div class="container mt-4 p-5 cover" >
  <nav class="nav nav-pills justify-content-center flex-column flex-lg-row text-center" data-aos="fade-up">
    <a 
      class="nav-link mb-3" 
      (click)="onSelect(formation)" 
      *ngFor="let formation of formations"
      routerLinkActive='active'
      [routerLinkActiveOptions]="{exact: false}"
      [routerLink]="['/portfolio/formación', formation.id]">
      {{formation.title}}
    </a>
  </nav>
  <div class="row" *ngIf="router.url.length <= '/portfolio/formación/'.length">
    <div class="p-5 text-center border-top border-bottom" data-aos="fade-up">
        <h6>
            Por favor, seleccione una formación académica
            para poder visualizarla.
        </h6>
    </div>
</div>
  <router-outlet></router-outlet>
</div>
