<div class="container p-4 border-bottom">
    <h2 class="text-center " id="formacion-academica">
        Formación académica
    </h2>
</div>
<div class="container mt-4 p-5 cover" >
  <nav class="nav nav-pills justify-content-center flex-column flex-lg-row text-center" data-aos="fade-up">
    <a class="nav-link active mb-3" href="#">Formation1</a>
    <a class="nav-link mb-3" href="#">Formation2</a>
    <a class="nav-link mb-3" href="#">Formation3</a>
    <a class="nav-link mb-3" href="#">Formation4</a>
  </nav>
  <app-element-formation></app-element-formation>
</div>
