<div class="container p-3 border-bottom" data-aos="fade-right">
  <h2 class="text-center " id="formacion-academica">
      Formación académica
  </h2>
</div>
<div class="container mt-4 p-3 cover" data-aos="fade-right">
  <nav class="nav nav-pills justify-content-center flex-column flex-lg-row text-center">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a 
        class="nav-link mb-3" 
        *ngFor="let formation of formations"
        data-bs-toggle="tab" 
        [attr.data-bs-target]="'#formation' + formation.id"
        (click)="toggleFormationSelected()">
        {{formation.title}}
      </a>
    </div>
  </nav>
  <div class="row mt-4" *ngIf="!mostrarAddFormation && !formationSelected">
    <div class="p-5 text-center">
        <h6>
            Por favor, seleccione una formación académica
            para poder visualizarla.
        </h6>
    </div>
  </div>
  <div class="tab-content" id="nav-tabContent" >
    <div 
      *ngFor="let formation of formations"
      class="tab-pane fade show" 
      [id]="'formation' + formation.id" 
      role="tabpanel" 
      aria-labelledby="nav-home-tab"> 
      <app-element-formation
        *ngIf="!mostrarAddFormation"
        [formation]="formation"
        [canDelete]="canDelete">
      </app-element-formation>
    </div>
    <div class="text-center pb-3" *ngIf="!mostrarAddFormation">
      <button class="btn mx-auto" (click)="toggleMostrarAddFormation()" *ngIf="isLoggedIn$">
        <i class="bi bi-plus-square" style="font-size:24px;"></i>
      </button>
    </div>  
  </div>
  <div class="container mt-4 element" data-aos="fade-up" *ngIf="mostrarAddFormation">
    <app-add-formation 
        (onAddFormation)= "toggleMostrarAddFormation()">
    </app-add-formation>
</div >
</div>
