
     <div class="container mt-4 element"    *ngIf="!mostrarEditFormation">
        <div class="row justify-content-center">
            <div class="col-6 mb-3">
                <h3 class="text-center">
                    {{formation.title}}
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-3 mb-3">
                <p>
                    {{formation.description}}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12  mb-3 pb-3">
                <img class="img-fluid logo mx-auto d-block" alt="logo" src="{{formation.logoAcademy}}">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text-muted text-center"> {{formation.startDate}} - {{formation.endDate}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <button class="btn" (click)="toggleMostrarEditFormation()" *ngIf="isLoggedIn$">
                    <i class="bi bi-pencil-square" style="font-size:24px;"></i>
                </button>
                <button class="btn" (click)="onDeleteFormation(this.formation)" *ngIf="canDelete && isLoggedIn$">
                    <i class="bi bi-trash" style="font-size:24px;"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="container mt-4 element" data-aos="fade-up" *ngIf="mostrarEditFormation">
        <app-edit-formation 
            (toggleEditFormationEventEmitter)= "toggleMostrarEditFormation()"
            [formation]="formation">
        </app-edit-formation>
    </div >
